  <nz-content>
    <nz-breadcrumb>
      
    </nz-breadcrumb>
    <div class="inner-content">
        <h3>This is POS</h3>
        <hr>
        <div style="height: auto;overflow-y: scroll;">
          <nz-card nzHoverable style="width:100%" >
            <div nz-row>
              <div nz-col nzSpan="8">
                <nz-avatar [nzShape]="'square'" [nzSize]="64" [nzIcon]="'user'"></nz-avatar>
              </div>
              <div nz-col nzSpan="8">
                <h4 nz-title>ItemX3 </h4>
              </div>
              <div nz-col nzSpan="8">
                <h4 nz-title>150 Rs </h4>
              </div>
            </div>
          </nz-card>
          
      </div>
      
      <br><br><br>    
      <div nz-row>
        <div nz-col nzSpan="12">
          <button nz-button [nzSize]="size" nzType="primary">Check Out</button>
        </div>
        <div nz-col nzSpan="12">
          <h4 nz-title>Price:1150 Rs</h4>
        </div>
      </div>  
      
    </div>
  </nz-content>

 